nav {
    background-color: #07F3FF;
    padding: 10px;
}

nav a {
    color: blue;
    padding: 2px;
    display: block;
}

main {
    max-width: 840px;
}

main h1 {
    background-color: lightgray;
    color: black;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid black;
    padding: 1px;
    box-shadow: 2px 5px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}