* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: #07F3FF;
    padding: 10px;
}

nav a {
    color: blue;
    padding: 2px;
    display: block;
}

main {
    max-width: 840px;
    position: relative;
}

main h1 {
    background-color: lightgray;
    color: black;
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid black;
    padding: 1px;
    box-shadow: 2px 5px gray;
    float: right;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    top: 47px;
    left: 150px;
    position: absolute;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #ddd;
    color: #000;
}